@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.header {
  font-family: "Montserrat", sans-serif;
  background-color: #bf3d4a;
}
.header img {
  width: 120px;
}
.header img:hover {
  transition: 1s;
  transform: rotate(1turn);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #565652;
  font-family: "Montserrat", sans-serif;
}

.container {
  color: #565652;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.container__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #bf3d4a;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.container__title h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.cuadroPrincipal p,
ul {
  font-size: 10px;
}

.cuadrosInfo {
  margin: 2rem 0;
}

.carousel img {
  border-radius: 0.2rem;
}

.container__titulosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #bf3d4a;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container__iconos {
  padding-bottom: 1rem;
}

.container__iconos a,
.footer__iconos a {
  margin: 0.7rem;
}
.container__iconos a img,
.footer__iconos a img {
  width: 3rem;
}

@media all and (min-width: 768px) {
  .cuadroPrincipal p,
ul {
    font-size: 14px;
  }
  .container__title h1 {
    font-size: 2rem;
  }
  .container__titulosPrincipales {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #bf3d4a;
    font-size: 1.5rem;
  }
  .container__iconos a {
    margin: 1rem;
  }
  .container__iconos a img {
    width: 4rem;
  }
}
@media all and (min-width: 992px) {
  .container__title h1 {
    font-size: 2.5rem;
  }
  .container__iconos {
    display: none;
  }
  .cuadroPrincipal p,
ul {
    font-size: 18px;
  }
}
/*Footer*/
.footer {
  background-color: #bf3d4a;
  color: #fafafa;
  width: 100%;
}
.footer .footer__title {
  color: #fafafa;
}
.footer .footer__title:hover {
  transition: 0.5s;
  transform: scale(1.5);
  color: white;
}
.footer .footer__iconos {
  display: none;
}
.footer .footer__iconos a:hover {
  transition: 0.5s;
  transform: scale(1.15);
}
.footer ul {
  display: none;
}

@media all and (min-width: 992px) {
  .footer .footer__iconos {
    display: flex;
  }
  .footer img {
    width: 50px;
  }
  .footer ul {
    display: flex;
  }
}
/*Button*/
.btn {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  background-color: #bf3d4a;
  outline: none;
  border-style: none;
}
.btn:hover {
  background-color: orange;
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 128, 0.3137254902);
}
.btn:focus {
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 128, 0.3137254902);
}

.cuadroPrincipal {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  min-height: 30vh;
  margin: 20px 10px;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  color: #574949;
  background-color: #fff;
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 128, 0.3137254902);
}

.listaDatos {
  text-align: left;
  display: flex;
}

.listaDatos__cuadro {
  display: flex;
  flex-direction: row;
}
.listaDatos__cuadro li {
  margin: 5px;
}
.listaDatos__cuadro .listaDatos__variables {
  width: 50%;
  flex-wrap: wrap;
}
.listaDatos__cuadro .listaDatos__variables ul {
  padding: 0;
  list-style: none;
}
.listaDatos__cuadro .listaDatos__variables ul li:before {
  /* the custom styled bullets */
  background-color: #bf3d4a;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2px;
  height: 0.6em;
  width: 0.6em;
}

.listaDatos__resultados {
  font-weight: 300;
}
.listaDatos__resultados ul {
  list-style: none;
}/*# sourceMappingURL=adoptar.css.map */