@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.header {
  font-family: "Montserrat", sans-serif;
  background-color: #bf3d4a;
}
.header img {
  width: 120px;
}
.header img:hover {
  transition: 1s;
  transform: rotate(1turn);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #565652;
  font-family: "Montserrat", sans-serif;
}

.container {
  color: #565652;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.container__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #bf3d4a;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.container__title h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.cuadroPrincipal p,
ul {
  font-size: 10px;
}

.cuadrosInfo {
  margin: 2rem 0;
}

.carousel img {
  border-radius: 0.2rem;
}

.container__titulosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #bf3d4a;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container__iconos {
  padding-bottom: 1rem;
}

.container__iconos a,
.footer__iconos a {
  margin: 0.7rem;
}
.container__iconos a img,
.footer__iconos a img {
  width: 3rem;
}

@media all and (min-width: 768px) {
  .cuadroPrincipal p,
ul {
    font-size: 14px;
  }
  .container__title h1 {
    font-size: 2rem;
  }
  .container__titulosPrincipales {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #bf3d4a;
    font-size: 1.5rem;
  }
  .container__iconos a {
    margin: 1rem;
  }
  .container__iconos a img {
    width: 4rem;
  }
}
@media all and (min-width: 992px) {
  .container__title h1 {
    font-size: 2.5rem;
  }
  .container__iconos {
    display: none;
  }
  .cuadroPrincipal p,
ul {
    font-size: 18px;
  }
}
/*Footer*/
.footer {
  background-color: #bf3d4a;
  color: #fafafa;
  width: 100%;
}
.footer .footer__title {
  color: #fafafa;
}
.footer .footer__title:hover {
  transition: 0.5s;
  transform: scale(1.5);
  color: white;
}
.footer .footer__iconos {
  display: none;
}
.footer .footer__iconos a:hover {
  transition: 0.5s;
  transform: scale(1.15);
}
.footer ul {
  display: none;
}

@media all and (min-width: 992px) {
  .footer .footer__iconos {
    display: flex;
  }
  .footer img {
    width: 50px;
  }
  .footer ul {
    display: flex;
  }
}
/*Button*/
.btn {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  background-color: #bf3d4a;
  outline: none;
  border-style: none;
}
.btn:hover {
  background-color: orange;
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 128, 0.3137254902);
}
.btn:focus {
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 128, 0.3137254902);
}

.cuadroPrincipal {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  min-height: 30vh;
  margin: 20px 10px;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  color: #574949;
  background-color: #fff;
  border-color: #ff8080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 128, 0.3137254902);
}

/*Color Palette;
  red:    #bf3d4a
  white:  #fafafa
  dark:   #223843
  grey:   #565652
  lila:   #EEE8F0
*/
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #bf3d4a;
}

/*Carousel*/
.carousel-caption {
  padding-bottom: 0;
}
.carousel-caption h2 {
  font-weight: bold;
}
.carousel-caption h5 {
  font-size: 0.9rem;
}
.carousel-caption p {
  font-size: 0.7rem;
}

.carousel-indicators {
  margin-bottom: 0;
}

/*Accordion*/
.card-body {
  padding: 1.5rem;
}

/*Info*/
.card:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

#desktopInfo {
  display: none;
}

.jumbotron {
  border-radius: 0.2rem;
}
.jumbotron h3 {
  font-size: 1rem;
}
.jumbotron p {
  font-size: 0.7rem;
}

/*Mas Info Section*/
.masInfoSection {
  color: #fafafa;
}

.jumbotron1 {
  background-image: url("../media/info1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron2 {
  background-image: url("../media/info2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron3 {
  background-image: url("../media/info3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media all and (min-width: 992px) {
  .jumbotron h3 {
    font-size: 2rem;
  }
  .jumbotron p {
    font-size: 1.2rem;
  }
  /*Cards*/
  #desktopInfo {
    display: flex;
  }
  .card-title {
    color: #bf3d4a;
    padding: 0.5rem;
  }
  .card-text {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .carousel-indicators {
    margin-bottom: 10px;
  }
  .carousel-caption {
    padding-bottom: 20px;
  }
  .carousel-caption h2 {
    font-size: 3rem;
  }
  .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */