@import "main";

.cuadroInforme {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding: 1.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
/*Lado Texto*/
.cuadroInforme__filtrosMapa {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  p {
    display: flex;
    font-size: 16px;
  }
}
.formSelect {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.select {
  width: 50%;
}

.formFotos {
  .imagenPrincipal {
    max-width: 100%;
    margin: 10px 0;
  }
  .formFotosSecu {
    display: flex;
    flex-direction: row;
    .addImage {
      background-color: white;
      border: gray solid 1px;
      border-radius: 3px;
      box-sizing: border-box;
      text-decoration: none;
      outline: none;
      margin: 0 5px;
    }
    .otherImages {
      height: 65px;
      width: 65px;
      margin: 0 5px;
      background-image: url("../media/adopciones/perro8.jpg");
      background-size: cover;
      border: gray solid 1px;
      border-radius: 3px;
      &:hover {
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
  }
}
.datosPrincipales {
  margin: 0 auto;
  padding-top: 2rem;
  min-width: 90%;

  .formSection {
    margin: 25px 0;
  }
  .formSection--radioBox {
    @extend .formSection;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .formSection--btn {
    @extend .formSection;
    display: flex;
    justify-content: flex-end;
  }
}

/*Lado Mapa*/
.cuadroInforme__claseMapa {
  margin-top: 1rem;
  height: 50vh;
  iframe {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 992px) {
  .formSelect {
    flex-direction: row;
  }
  .datosPrincipales {
    min-width: 50%;
  }
}
